.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #eee;
    transform: translateX(-100%);
    transition: 1s transform cubic-bezier(0.86, 0, 0.07, 1);
}

@media (min-width: 768px) {
    .menu {
        display: block;
        transform: translateX(0%);
        transition: none;
        z-index: 9999;
    }
}

.form-label svg,
.menu-content,
.section-outcomes .section-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.menu-title,
.menu-subtitle {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: #000;
}
